<% javascript_include_tag 'collection.js' %>
<% stylesheet_link_tag 'collection.css' %>
<% image_path('loading-sping.svg') %>
<div id="user_info">
<h1><%= @user.email %>'s collection </h1>

<p> games owned: <%= @user.games.count %> </p>
</div>
<div  id="collection_container"class="container-fluid">
<ul class="gridder">
	 <% @collection.each do |a| %>
	     <li class="gridder-list" data-griddercontent="#<%= a.game_id %>">
        <img src="<%= a.img_url_small%>" />
    	</li>
    	<div  id="<%= a.game_id%>" class="gridder-content">
  
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6"> 
    		              <img class="big_img" src="<%= a.img_url_small %>">
                    </div>
               
            <div id="game_details" class="col-xs-6"> 
               <h2 id="collection_game_name"> <%= a.game_name %> </h2>
               <p> <%= a.deck %> </p>
               <p><strong> Developed By:</strong> <%= a.developers unless a.developers.nil? %></p>
               <p><strong> Genre: </strong> <%= a.genre %></p>
                   <div class="container-fluid">
                        <div class="row">
                            <div id="score_review_button_wrapper" class="col-xs-12">
                                <% if a.reviews.first.nil? %>
                              <h2> They haven't reviewed this game </h2>
                                <% else %>
                                <div id="score_display">
                                    <div id="stars-existing" class="starrr" data-rating='<%= a.reviews.first.rating%>'> Their Score: </div>         
                                    <div class="review_link">
                                    <a  href="/reviews/<%= a.reviews.first.id %>"> Read your review </a>
                                  </div>
                                </div>
                                <%end%>
                            </div>
                        </div>
              
                    </div>
            
            </div> 
             </div>
            </div>

    	</div>
	  <%end%>
</ul>
</div>