<% if  @reviews.count == 0 %>
<h1 id="no_reviews"> Looks like no one has written any reviews yet.</h1>
<%else%>

<div id="review_wrapper" class="container">
  <% @reviews.each do |a| %>
  <div id="reviews_box_index" class="row">
    <div id="review_header" class="col-xs-12">
      <div class="game_user_header">
        <h1> <%= a.game.game_name unless a.game.game_name.nil? %></h1>
        <h3> A review by: <a href="/users/<%= a.user.id %>"><%= a.user.email unless a.user.email.nil? %></a> </h3>
      </div>
      <div class="review_title_header">
        <p id="review_title"> <%= a.title unless a.title.nil? %> </p>
      </div>
      <div class="review_stars_header">
        <div id="stars-existing" class="starrr" data-rating='<%= a.rating%>'>
        </div>
      </div>
      <p> <%= a.created_at.strftime("%Y-%m-%d") %> </p>
      <span id="full_review_link"> <a href="/reviews/<%= a.id%>">Read the full review </span></a>
    
    </div>
  </div>
  <%end%>
</div>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @reviews %>
    </div>
    <%= will_paginate @reviews, :container => false %>
  </div>

  <%end%>
